{{ attach_library('github/currency') }}
<div class="github report-pepper lastweek">
  <p class="github-info">
    {% trans %}
      This report will show a funding report for Mrs Pepper Pots that list the 10 hottest projects to the following specifications:
      <ul>
        <li>1 dollar per watcher of the project</li>
        <li>1 dollar per fork of the project</li>
        <li>50 dollars if the project has a wiki</li>
        <li>100 dollars if the project has been downloaded</li>
        <li>10 dollars if any issues have been created</li>
      </ul>
    {% endtrans %}
  </p>

  <h2>{{ 'Report' | trans }} </h2>

  {% if report|length %}
    {% set total = 0 %}
    <table>
      <tr>
        <th>{{ 'Project' | trans  }}</th>
        <th>{{ 'Stars' | trans  }}</th>
        <th>{{ 'Language' | trans  }}</th>
        <th>{{ 'Watchers' | trans  }}</th>
        <th>{{ 'Forks' | trans  }}</th>
        <th>{{ 'Wiki' | trans  }}</th>
        <th>{{ 'Downloaded' | trans  }}</th>
        <th>{{ 'Issuses' | trans  }}</th>
        <th>{{ 'Total' | trans  }}</th>
      </tr>
      {% for repo in report %}
        <tr>
          <td>{{ link(repo.name, repo.url) }}</td>
          <td>{{repo.stars }}</td>
          <td>{{ repo.language }}</td>
          <td>{{ repo.watcher }}$</td>
          <td>{{ repo.fork }}$</td>
          <td>{{ repo.wiki }}$</td>
          <td>{{ repo.downloaded }}$</td>
          <td>{{ repo.issues}}$</td>
          {% set total_project = repo.watcher + repo.fork + repo.wiki + repo.downloaded + repo.issues %}
          {% set total = total + total_project %}
          <td><strong>{{ total_project }}$</strong></td>
        </tr>
      {% endfor %}

    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><strong>{{ 'Grand Total:' | trans }} <span class="grand-total"><span class="value price">{{ total }}$</span></span></strong><div class="currency-convert"></div></td></tr>
    </table>
  {% else %}
    <p>
    {% trans %}
      We have some problems to get the info from <strong>Github</strong>. Please wait some time and reload the page.
    {% endtrans %}
    </p>
  {% endif %}
</div>
